
#header {
  width: 100%;
  min-height: 250px;
  background-color: var(--colorAccent);
  background-image: url('../../assets/images/headerBkg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light, darken;
}

@media screen and (min-width: 768px) {
  #header {
    height: 500px;
    float: left;
  }
}