:root {
  --colorBkg: black;
  --panelBkg: radial-gradient(circle, rgba(0, 0, 0, 0.92) 0%, rgba(0, 0, 0, 0.98) 100%);
  --colorPrimary: #003459;
  --colorSecondary: #00171F;
  --colorTertiary: #007EA7;
  --colorAccent: #00A8E8;
  --fontPrimary: #FFFFFF;
  --fontSecondary: var(--colorAccent);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  font-family: 'Source Sans Pro', sans-serif;
  background: linear-gradient(to right, #000, var(--colorPrimary), #000);
  color: var(--fontPrimary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

.oi {
  font-size: 2rem;
  color: var(--fontSecondary);
  width: 30px;
  height: 30px;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.1em;
  }
}