
.link {
  color: var(--fontPrimary);
  text-decoration: none;
  margin: 0 .5rem;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  line-height: 1rem;
}

.link:hover {
  cursor: pointer;
  transition: 0.3s color ease-in-out;
  color: var(--colorAccent);
}

.desktopNavLink {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5rem;
}

.mobileLinkContainer {
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
}

.mobileLink {
  width: 100%;
  margin: .2rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: .5rem;
  text-align: left;
}

.actionLink {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  gap: .5rem;
}

@media screen and (max-width: 767.9px) {
  .desktopNavLink {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .actionLink {
    display: none;
  }
}